@model RockScissorPaper.Models.GameViewModel
@{
    ViewBag.Title = "Game";
}
<div class="wrapper3"></div>
<div class="wrapper6" id="gameContainer">
    
    <h2 id="gameBannerMessage"> @Model.StateOfGame.BannerMessage</h2>
    <table>
        <tr>
            <td>@Model.PlayerOne.Name</td>
            <td></td>
            <td></td>
            <td></td>
            <td>@Model.PlayerTwo.Name</td>
        </tr>
        <tr>
            <td><img src="~/Content/Images/Pm.jpg" width="80"/></td>
            <td id="p1Selection">@Model.StateOfGame.PlayerOne.CurrentSelection</td>
            <td> Vs</td>
            <td id="p2Selection">@Model.StateOfGame.PlayerTwo.CurrentSelection</td>
            <td><img src="~/Content/Images/Drunk-hamster2.jpg" width="80"/></td>
        </tr>
        <tr>
            <td id="p1Score">@Model.StateOfGame.PlayerOne.CurrentScore</td>
            <td ></td>
            <td id="userMessage">
                @if (@Model.StateOfGame.PlayerOne.IsViewer)
                {
                    @Model.StateOfGame.PlayerOne.PlayerMessage 
                }
                else
                {
                    @Model.StateOfGame.PlayerTwo.PlayerMessage
                }

            </td>
            <td></td>
            <td id="p2Score">@Model.StateOfGame.PlayerTwo.CurrentScore</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td id="GameRounds">@Model.StateOfGame.RoundMessage</td>
            <td></td>
            <td></td>
        </tr>
         <tr id="playerSelections">
            <td><button data-selection="1">Rock</button></td>
            <td></td>
            <td><button data-selection="2">Scissor</button></td>
            <td></td>
            <td><button data-selection="3">Paper</button></td>
        </tr>
    </table>

    @section scripts {
    <script>
        $(function () {
            Roshambo.init(@Model.Id, @Model.PlayerOne.PlayerId);
        });
    </script>
        }

    
    
</div>
