<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="wrapper960">
                @Html.ActionLink("Stats","Statistics","Home")
        <div class="clear-fix"></div>
    </nav>
    <header  class="wrapper960">
        @Html.ActionLink("Rock Scissor Paper","Index","Home")
                
            <div class="clear-fix"></div>
        
    </header>
    <div class="wrapper960" >
        
        @RenderBody()
        <div class="clear-fix"></div>
    </div>
    @Scripts.Render("~/bundles/global")
    @RenderSection("scripts", required: false)
</body>
</html>
