<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="wrapper960">
                @Html.ActionLink("Stats","Statistics","Home")
        <div class="clear-fix"></div>
    </nav>
    <header  class="wrapper960">
        @Html.ActionLink("Rock Scissor Paper","Index","Home")
                
            <div class="clear-fix"></div>
        
    </header>
    <div class="wrapper960" >
        
        @RenderBody()
        <div class="clear-fix"></div>
    </div>
    @Scripts.Render("~/bundles/global")
    
    @RenderSection("scripts", required: false)
</body>
</html>
