<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <section class="container">
        <nav class="span12">
                    @Html.ActionLink("Stats","Statistics","Home")
                    <a class="popup" data-width="400" data-height="400" href="/Home/DummyGame">Tools</a>
            
        </nav>
        <header  class="span12">
            @Html.ActionLink("Rock Scissor Paper","Index","Home")
        </header>
    </section>
    <div class="container" >
        
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/global")
    <script>
        $('a.popup').on('click', function (event) {
            var $this = $(this),
                href = $this.attr('href'),
                height = $this.data('height'),
                width = $this.data('width');
            window.open(href, '_blank', 'width=' + width + ', height=' + height);

            event.preventDefault();
        });
        

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
