<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body >
    <section class="headerBand">
        <div class="container">
            <div class="row">
                <header class="span8">
                    @Html.ActionLink("Rock Scissor Paper", "Index", "Home")
                </header>
                <nav class="span4">
                        @Html.ActionLink("new game", "Index", "Home")
                        @Html.ActionLink("stats", "Index", "Statistics")
                        @Html.ActionLink("simulator", "DummyGame", "Home", new { @class = "popup", data_width = "400", data_height = "400" })
                </nav>
            </div>
        </div>
    </section>
    <div class="container height100">
        <div class="row height100">
                @RenderBody()
        </div>
    </div>
     
    @Scripts.Render("~/bundles/global")
    <script>
        $('a.popup').on('click', function (event) {
            var $this = $(this),
                href = $this.attr('href'),
                height = $this.data('height'),
                width = $this.data('width');
            window.open(href, '_blank', 'width=' + width + ', height=' + height);

            event.preventDefault();
        });
        

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
