@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="http://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet" type="text/css">
    @Styles.Render("~/Content/styles")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body >
    <section class="headerBand">
            <header class="popup">@ViewBag.HeaderText</header>
    </section>
    <section class="container-fluid">
        @RenderBody()
        @Scripts.Render("~/bundles/global")
        @RenderSection("scripts", required: false)
    </section>
</body>
</html>
